@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --black: #171A21;
    --gray: #617073;
    --gray-blue: #7A93AC;
    --light-blue: #92BCEA;
    --purple: #AFB3F7;
    font-family: "Roboto Condensed", sans-serif;

}

#root{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    background-color: var(--black);
}

h1{
    text-align: center;
    background: -webkit-linear-gradient(0.25turn, var(--light-blue),var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4em;
}
