@import url("../../Index/index.css");

.taskList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doneList,
.toDoList {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.toDoList {
    margin-bottom: 0;
}

.task {
    position: relative;
    width: 35%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    word-break: break-word;
    border-radius: 20px;
    padding: 0;
    background-color: var(--purple);
    border: 3px solid var(--gray-blue);
}

.task > h2 {
    text-align: center;
}

p {
    margin-top: 0;
    padding: 20px;
    max-width: 100%;
    word-wrap: break-word;
}

.delete,
.edit {
    width: 50%;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    transition: 0.5s;
}

.edit svg,
.delete svg {
    width: 20px;
    height: 20px;
}

.delete {
    background: transparent;
    color: red;
}

.delete:hover {
    background-color: rgb(161, 0, 0);
    color: white;
    box-shadow: 3px 3px 12px rgb(161, 0, 0);
}

.edit {
    background: transparent;
    color: #0281ff;
    border-radius: 20px 0 0 0;
}

.edit:hover {
    background-color: rgb(60, 121, 254);
    color: var(--black);
    box-shadow: -3px 3px 12px rgb(60, 121, 254);
}

.taskELementButtons {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.doneList > li {
    position: relative;
    background-color: #ff9bbd;
    color: red;
    border: solid 3px red;
    opacity: 0.5;
}

.doneList .taskTags > .tag {
    background-color: red;
}

.doneList > li::after {
    position: absolute;
    left: -5%;
    top: 50%;
    height: 6px;
    background: #c00;
    content: "";
    width: 110%;
}

.done > h2,
.done > p {
    text-decoration: line-through;
}

.taskEditFormSubmit {
    width: 40%;
    font-size: 1.3em;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: bold;
    background-color: rgb(60, 180, 254);
    color: rgb(23, 44, 83);
    box-shadow: 0px 3px 12px rgb(60, 180, 254);
    transition: 0.5s;
}

.taskEditFormSubmit:hover {
    background-color: rgb(60, 121, 254);
}

.tag {
    background-color: #0281ff;
    border: 3px solid var(--black);
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.invisibleEditPopUp {
    display: none;
}

.visibleEditPopUp {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.popUpClose {
    position: absolute;
    top: 30px;
    left: 30px;
}

.popUpClose:hover {
    color: red;
}

.popUpClose > svg {
    width: 30px;
    height: 30px;
}
