.loginForm {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginUsername,
.loginForm > input[type="password"] {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: var(--light-blue);
    box-shadow: 3px 3px 12px rgba(214, 218, 255, 1);
    outline: none;
    transition: 0.5s;
}

input[name="register"],
input[name="login"] {
    width: 20%;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px 10px;
    transition: 0.5s;
    border-radius: 20px;
}

input[name="login"] {
    border: none;
    background-color: rgb(60, 180, 254);
    color: rgb(23, 44, 83);
    box-shadow: 0 3px 12px rgb(60, 180, 254);
    margin: 10px;
}

input[name="register"] {
    background: transparent;
    border: 3px solid rgb(60, 180, 254);
    color: rgb(60, 180, 254);
}

input[name="login"]:hover {
    background-color: rgb(60, 121, 254);
    box-shadow: -3px 3px 12px rgb(60, 121, 254);
}

input[name="register"]:hover {
    box-shadow: 0px 3px 12px rgb(60, 180, 254);
}

.rememberMe {
    text-align: left;
    color: rgb(60, 180, 254);
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
}

.rememberMe > input {
    accent-color: rgb(60, 180, 254);
    background-color: var(--black);
}
