@import url("../Index/index.css");

.listWindow {
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin: auto;
}

.taskAddForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin: auto;
}

.taskAddForm > input[type="text"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: var(--light-blue);
    box-shadow: 3px 3px 12px rgba(214, 218, 255, 1);
    outline: none;
    transition: 0.5s;
}

.taskAddForm > input[type="text"]:focus {
    background-color: rgb(146, 153, 234);
    box-shadow: 3px 3px 12px rgb(146, 153, 234);
}

.taskAddForm > :first-child {
    font-size: 2em;
    font-weight: bold;
}

.taskAddForm > :nth-child(2) {
    font-size: 1.3em;
}

.taskAddFormSubmit,
.addTask {
    width: 40%;
    background-color: rgb(60, 254, 189);
    font-size: 1.5em;
    border-radius: 20px;
    border: 3px solid rgb(23, 83, 46);
    color: rgb(23, 83, 46);
    font-weight: bold;
    box-shadow: 3px 3px 12px rgb(60, 254, 189);
    transition: 0.5s;
}

.taskAddFormSubmit:hover,
.addTask:hover {
    background-color: rgb(63, 254, 60);
    box-shadow: 3px 3px 12px rgb(63, 254, 60);
}

.taskAddFormSubmit:disabled {
    opacity: 0.3;
}

.taskAddFormSubmit:disabled:hover {
    background-color: rgb(60, 254, 189);
    box-shadow: none;
}

.renderControls > button {
    background: transparent;
    border: 3px solid rgb(60, 180, 254);
    color: rgb(60, 180, 254);
    transition: 0.5s;
}

.renderControls > button:hover {
    background-color: rgb(255, 255, 255);
}

.renderControls > :first-child {
    border-radius: 20px 0 0 20px;
}

.renderControls > :last-child {
    border-radius: 0 20px 20px 0;
}

.logout {
    position: relative;
    left: 0;
    top: 0;
    font-size: 1.3em;
    background: transparent;
    border: 3px solid rgb(60, 180, 254);
    color: rgb(60, 180, 254);
    transition: 0.5s;
}

.logout:hover {
    box-shadow: 3px 3px 12px rgb(60, 180, 254);
    cursor: pointer;
}

.invisiblePopUp {
    display: none;
}

.visiblePopUp {
    position: absolute;
    display: block;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.popUpContent {
    position: relative;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353637;
    border-radius: 20px;
}

.popUpClose {
    position: absolute;
    top: 30px;
    left: 30px;
}

.popUpClose:hover {
    color: red;
}

.popUpClose > svg {
    width: 30px;
    height: 30px;
}

.no-scroll {
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
}

.tagList {
    width: 60%;
}

.tagListUl {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1%;
    width: 100%;
    margin: 0;
}

.tagListUl > li {
    padding: 10px;
    background-color: var(--light-blue);
    border-radius: 20px;
    transition: 0.5s;
    margin-top: 8px;
}

.tagListUl > li:hover {
    background-color: #0281ff;
}

.tagListUl > li > a {
    width: 100%;
    height: 100%;
}

.tagListUl > .createTag {
    background: none;
    padding: 0;
}

.tagListUl > .createTag:hover {
    background-color: initial;
}

.tagListUl > .createTag > a > svg {
    transition: 0.5s;
}

.tagListUl > .createTag:hover > a > svg {
    transform: rotate(180deg);
}

.createTag input {
    width: 50%;
    background-color: transparent;
    outline: none;
    border: 3px solid var(--light-blue);
    border-radius: 20px;
    color: white;
}

.filtersTag > a > svg {
    transition: 0.5s;
}

.filtersTag > a > svg:hover {
    color: red;
}

.tagListUl > .selectedTag {
    background-color: #0281ff;
}

.taskTags {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}
