@import url("../Index/index.css");

.listWindow {
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin: auto;
}

.taskAddForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin: auto;
}

.taskAddForm > input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: var(--light-blue);
    box-shadow: 3px 3px 12px rgba(214, 218, 255, 1);
    outline: none;
    transition: 0.5s;
}

.taskAddForm > input[type="text"]:focus {
    background-color: rgb(146, 153, 234);
    box-shadow: 3px 3px 12px rgb(146, 153, 234);
}

.taskAddForm > :first-child {
    font-size: 2em;
    font-weight: bold;
}

.taskAddForm > :nth-child(2) {
    font-size: 1.3em;
}

.taskAddFormSubmit{
    width: 25%;
    max-width: 25%;
    background-color: rgb(60, 254, 189);
    font-size: 1.5em;
    border-radius: 20px;
    border: 3px solid rgb(23, 83, 46);
    color: rgb(23, 83, 46);
    font-weight: bold;
    box-shadow: 3px 3px 12px rgb(60, 254, 189);
    transition: 0.5s;
}

.taskAddFormSubmit:hover {
    background-color: rgb(63, 254, 60);
    box-shadow: 3px 3px 12px rgb(63, 254, 60);
}

.taskAddFormSubmit:disabled {
    opacity: 0.3;
}

.taskAddFormSubmit:disabled:hover {
    background-color: rgb(60, 254, 189);
    box-shadow: none;
}

.renderControls > button{
    background: transparent;
    border: 3px solid rgb(60, 180, 254);
    color: rgb(60, 180, 254);
    transition: 0.5s;
}

.renderControls > button:hover{
    background-color: rgb(255, 255, 255);
}

.renderControls > :first-child{
    border-radius: 20px 0 0 20px;
}

.renderControls > :last-child{
    border-radius: 0 20px 20px 0;
}

.logout{
    position: relative;
    left: 0;
    top: 0;
    font-size: 1.3em;
    background: transparent;
    border: 3px solid rgb(60, 180, 254);
    color: rgb(60, 180, 254);
    transition: 0.5s;
}

.logout:hover{
    box-shadow:  3px 3px 12px rgb(60, 180, 254);
    cursor:pointer;
}