@import url("../Index/index.css");

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inputs > :first-child{
    font-size: 2em;
    background-color: var(--light-blue);
    outline: none;
    border: none;
    border-radius: 20px;
}


.inputs > :nth-child(2){
    font-size: 1.3em;
}

