@import url("../Index/index.css");

.listWindow {
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin: auto;
}

.inputs > input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: var(--light-blue);
    box-shadow: 3px 3px 12px rgba(214, 218, 255, 1);
    outline: none;
    transition: 0.5s;
}

.inputs > input:focus {
    background-color: rgb(146, 153, 234);
    box-shadow: 3px 3px 12px rgb(146, 153, 234);
}

.inputs > :first-child {
    font-size: 2em;
    font-weight: bold;
}

.inputs > :nth-child(2) {
    font-size: 1.3em;
}

.inputs > button {
    width: 25%;
    max-width: 25%;
    background-color: rgb(60, 254, 189);
    font-size: 1.5em;
    border-radius: 20px;
    border: 3px solid rgb(23, 83, 46);
    color: rgb(23, 83, 46);
    font-weight: bold;
    box-shadow: 3px 3px 12px rgb(60, 254, 189);
    transition: 0.5s;
}

.inputs > button:hover {
    background-color: rgb(63, 254, 60);
    box-shadow: 3px 3px 12px rgb(63, 254, 60);
}

.inputs > button:disabled {
    opacity: 0.3;
}

.inputs > button:disabled:hover {
    background-color: rgb(60, 254, 189);
    box-shadow: none;
}

.renderControls > button{
    background-color: rgb(234, 0, 255);
    border: none;
    border: 3px solid rgb(244, 122, 255);
    transition: 0.5s;
}

.renderControls > button:hover{
    background-color: rgb(180, 0, 197);
}

.renderControls > :first-child{
    box-shadow: -3px 3px 12px rgb(234, 0, 255);
    border-radius: 20px 0 0 20px;
    /* border-right: 3px solid var(--black); */
}

.renderControls > :nth-child(2){
    box-shadow: 0px 3px 12px rgb(234, 0, 255);
    /* border-right: 3px solid var(--black); */
}

.renderControls > :last-child{
    box-shadow: 3px 3px 12px rgb(234, 0, 255);
    border-radius: 0 20px 20px 0;
}