@import url("../Index/index.css");

.taskList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doneList,
.toDoList {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.task {
    width: 35%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    word-break: break-word;
    border-radius: 20px;
    padding: 0;
    background-color: var(--purple);
    border: 3px solid var(--gray-blue);
}

.task > h2 {
    text-align: center;
}

p {
    margin-top: 0;
    padding: 20px;
    max-width: 100%;
    word-wrap: break-word;
}

.delete,
.edit {
    width: 50%;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    transition: 0.5s;
}

.delete {
    background-color: rgb(254, 60, 60);
    color: rgb(83, 23, 23);
    box-shadow: 3px 3px 12px rgb(254, 60, 60);
    margin: 0 10px 10px 0;
    border-radius: 0 20px 20px 0;
}

.delete:hover {
    background-color: rgb(161, 0, 0);
    box-shadow: 3px 3px 12px rgb(161, 0, 0);
}

.edit {
    background-color: rgb(60, 180, 254);
    color: rgb(23, 44, 83);
    box-shadow: -3px 3px 12px rgb(60, 180, 254);
    margin: 0 0 10px 10px;
    border-radius: 20px 0 0 20px;
}

.edit:hover {
    background-color: rgb(60, 121, 254);
    box-shadow: -3px 3px 12px rgb(60, 121, 254);
}

.taskELementButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.doneList > li {
    position: relative;
}

.doneList > li::after {
    position: absolute;
    left: -5%;
    top: 50%;
    height: 6px;
    background: #c00;
    content: "";
    width: 110%;
}

.done > h2,
.done > p {
    text-decoration: line-through;
}

.editing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.editing > input {
    padding: 10px;
    font-size: 1.3em;
    background-color: var(--black);
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 3px 3px 12px var(--light-blue);
    outline: none;
    transition: 0.5s;
}

.editing > :first-child {
    font-weight: bold;
}

.editing > button {
    background-color: rgb(60, 180, 254);
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    color: rgb(23, 44, 83);
    padding: 5px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 3px 3px 12px rgb(60, 180, 254);
    transition: 0.5s;
}

.editing > button:hover {
    background-color: rgb(60, 121, 254);
    box-shadow: 3px 3px 12px rgb(60, 121, 254);
}

.editableTaskInput {
    width: 80%;
    background-color: var(--black);
    box-shadow: none;
    color: white;
}
